*.pyc
*.caffemodel
*.solverstate
*.png
*.txt
core
*.log
*.swp
*.o*
*.e*
*.zip
*.npz
*.h5
*.mat
*.pdf
rgb_test_1/*
cstrip-fcn32s-color/colorSnapshot/*
hpc-logs/*
rgb_workers_trails/*
rgb_workers/*
rgb_workers
solve_any_live*
worker_live.bash
depth_workers/
hha2_workers/
worker_live*
worker_test_2017*
